body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f6fff2; /* light green */
}

nav a, nav button {
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

nav a:hover, nav button:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  color: #1b5e20; /* dark green */
}

button {
  background: #2e7d32; /* green */
  border: none;
  padding: 8px 14px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #1b5e20;
}


.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 140px;
  border-radius: 6px;
  object-fit: cover;
}
